body {
  font-family: Arial, sans-serif;
  background: #1e1e1e;
  margin: 0;
  color: #fff;
}

.panel {
  max-width: 1000px;
  margin-left: 20px;
  margin-top: 50px;
  background: #222;
  padding: 50px;
  border-radius: 50px;
  box-shadow: 0 0 50px #00e5ff;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: 2px solid #00e5ff;
  background: #0d0d0d;
  color: #00e5ff;
}

button {
  width: 100%;
  padding: 12px;
  background: #00e5ff;
  color: #000;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  margin-top: 10px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 0 10px #00e5ff;
}

.resultado {
  margin-top: 15px;
  background: #111;
  padding: 15px;
  border-radius: 8px;
  min-height: 40px;
  border-left: 5px solid #00e5ff;
  color: #00e5ff;
}

.ficha {
  background: #111;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 20px;
  border-left: 5px solid #00e5ff;
  color: #00e5ff;
}
